html{
  background-color: #ddcf95;
  font-size: 120%;
}

main {
  color: black;
  background-color: white;
  font-family: "Gill Sans", sans-serif;
  padding: 20px;
  border-radius: 10px;
  font-weight: lighter;
}

header{
  background-image: url(../images/applebanner.jpg);
  /*src: applefestwebsite, https://www.downtownithaca.com/apple-festive/ */
  background-size: cover;
  background-position: center;
  height: 15em;
}

footer{
  text-align: center;
  background-color:#C6DEA6;

}

article{
  display: flex;
  flex-direction: row;
}

.text{
  width: 65%;
}

.citation{
  text-align: right;
}

.banner{
  text-align: right;
  text-align: bottom;
  background-color: white;
}

.active{
  background-color:white;
}
/* Form css */

.hidden{
  display: none;
}

.feedback{
  color: #b4001a;
  margin-left: 10px;
}

.form-triple{
  display: flex;
  flex-direction: column;
  /* max-width: 800px; */
  margin: 8px 8px 8px 8px;
}
div.gallery img{
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
}
button#delete_product{
  background-color:#5c5c59;
  color: white;
  max-width: 200px;
}
#add_tag{
  background-color:#C6DEA6;
}
#delete_tag{
  background-color: #f1d9d9;
}
.form-quad{
  display: flex;
  text-align: center;
  flex-direction: column;
  /* max-width: 800px; */
  justify-content: space-between;
  margin: 8px 8px 8px 8px;
}

label{
  display: inline-block;
  width: 160px;
  text-align: right;
}

.tag{
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}
#tag{
  display: inline-block;
  text-align: left;
}

input, select{
  margin-left: 10px;
}

#request-email{
  width: 160px;
}

#request-number{
  width: 50px;
}

.align-right {
  margin-left: 300px;
}

.align-right-tag{
  margin-left: 100px;
}

article img{
  margin-top: 40px;
  width: 35%;
}

h1{
  text-transform: uppercase;
  color: #B4626C;
  font-family: "Gill Sans", sans-serif;
  font-weight: lighter;
}

h2{
  color: #90670d;
  font-family: "Gill Sans", sans-serif;
  font-weight: lighter;
}

h3{
  font-family: "Gill Sans", sans-serif;
  font-weight: lighter;
  color: black;
  text-transform: uppercase;
}

h4{
  font-weight:lighter;
  text-transform: uppercase;
}

p{
  font-family: "Gill Sans", sans-serif;
  font-weight: lighter;
  color: black;
}

nav {
  background-color: #C6DEA6;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  flex-grow: 1;
  width: 20%;
}

nav ul li a {
  display: block;
  border: 1px solid;
  padding: .5em 1em;
  border-radius: .5em;
  margin: 0.25em;
  text-align: center;
}


a{
  font-weight: lighter;
  font-family: "Gill Sans", sans-serif;
}
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
}

a:active {
  color: black;
}

/* boxes + catalog css */

section{
  display: flex;
  flex-direction: row;
}

div .main-container{
  display: flex;

}

aside > div {
  width: 160px;
  padding: .2em;
  position: absolute;
  margin-top: 5px;
  /* background-color: #111; */
  padding-top: 5px;
  flex-direction: column;
}

.container1{
  flex : 1;
  display:flex;
  flex-direction : column;
  /* background-color : #245878; */
}
.item1{
  flex:1;
  /* background-color : #214585; */
  margin : 5%;
  border: 1px solid;
  border-radius: .5em;
  padding: 5px 5px 5px 5px;
  width: 120%;
}
.item2{
  flex:1;
  /* background-color : #548789; */
  margin : 5%;
  border: 1px solid;
  border-radius: .5em;
  padding: 5px 5px 5px 5px;
  width: 120%;
}
ul li{
  list-style: none;
}
li{
  list-style: none;
}
#storegallery{
  min-height: 800px;
}

.item3{
  flex:1;
  /* background-color : #548789; */
  margin : 5%;
  border: 1px solid;
  border-radius: .5em;
  padding: 5px 5px 5px 5px;
  width: 120%;
}

section.gallery-sect{
  width:80%;
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
}
div .back{
  border: 1px solid;
  width: auto;
  background-color: #f1d9d9;
  color:white;
}
div.center{
  text-align:center;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 10px;
  width: 180px;
  flex-flow: row wrap;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.row.first-row{
  display: flex;
  flex-direction: row;
}

.row.second-row{
  display: flex;
  flex-direction: row;
}

.box {
  display: block;
  border: 1px solid;
  padding: .5em 1em;
  border-radius: .5em;
  margin: 0.25em;
  height: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 33%;
}

.box1 {
  background-image: url(../images/robbie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* src: Sigonas blog, https://blog.sigonas.com/2017/08/07/robbies-produce-tips-heirloom-tomatoes/ */
  width: 33%;
}

.box1 a:hover {
  background-color: #C6DEA6;
  color: black;
}

.box1 a{
  background-color: white;
  color: black;
}

.box2 {
  background-image: url(../images/ajteet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* src: The Ithaca Voice, https://ithacavoice.com/2014/10/short-photo-essay-applefest-2014-carnival-games-apple-cider/ */
  color: black;
  width: 33%;

}

.box2 a:hover {
  background-color: #C6DEA6;
  color: black;
}

.box2 a{
  background-color: white;
  color: black;
}

.box3 {
  background-image: url(../images/littletree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* src: Fields-goods, https://www.field-goods.com/farmers/littletree-orchards/ */
  width: 33%;
}

.box3 a:hover {
  background-color: #C6DEA6;
  color: black;
}

.box3 a{
  background-color: white;
  color: black;
}

.box4 {
  background-image: url(../images/bakedup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* src: The Ithaca Voice, https://ithacavoice.com/2017/08/luna-launches-baked-delivering-sweets-made-scratch/ */
  width: 33%;
}

.box4 a:hover {
  background-color: #C6DEA6;
  color: black;
}

.box4 a{
  background-color: white;
  color: black;
}

.box5 {
  background-image: url(../images/bakers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* src: Visit Ithaca, https://www.visitithaca.com/attractions/bakers-acres-north-lansing */
  width: 33%;
}

.box5 a:hover {
  background-color: #C6DEA6;
  color: black;
}

.box5 a{
  background-color: white;
  color: black;
}

.box6 {
  background-image: url(../images/creamcycle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* src: Facebook Page, https://www.facebook.com/creamcycleny/*/
  width: 33%;
}

.box6 a:hover {
  background-color: #C6DEA6;
  color: black;
}

.box6 a{
  background-color: white;
  color: black;
}

@media (max-width: 1000px){
  main{
    background-color: white;
  }

  article{
    display: flex;
    flex-direction: column;
  }

  img.portrait{
    min-width: 350px;
  }

  img.landscape{
    min-width: 450px;
    min-height: 240px;
  }

  img.map{
    max-width: 600px;
  }
}

@media (max-width: 600px){
  html{
    background-color: #ECDAB2;
    font-size: 120%;
  }
  main{
    background-color: white;
    line-height: 1.1em;
  }

  nav ul li a{
    font-size: 75%;
    text-align:center;
  }

  img.portrait{
    min-width: 250px;
  }

  img.landscape{
    min-width: 350px;
    min-height: 200px;
  }

  img.map{
    max-width: 450px;
  }

  .text{
    width: 90%;
  }

  .box{
    height: 180px;
    width: 80%;
  }


  .box:hover{
    background-color: white;
    width: 80%;
  }

  .row.first-row{
    display: flex;
    flex-direction: column;
  }

  .row.second-row{
    display: flex;
    flex-direction: column;
  }

  .feedback{
    color: red;
    font-size: 75%;
    margin-left: 170px;
  }

  .form-triple{
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */
    margin: 8px 8px 8px 8px;
  }

  .form-quad{
    display: flex;
    text-align: center;
    flex-direction: column;
    /* max-width: 800px; */
    justify-content: space-between;
    margin: 8px 8px 8px 8px;
  }

  label{
    display: inline-block;
    width: 160px;
    text-align: right;
  }


}
